.banner{
    background-image: url("../images/fog-mountain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 350px;
    position: relative;
}
.textcontainer {
    position: absolute;
    top: 180px;
    left: 100px;
}
.textcontainer h1{
font-size: 7rem;
color: #696969;
}
.textcontainer p{
    font-size: 4rem;
    color: #696969;
    margin-top: 20px;
}
.textcontainer span{
    color: #30c0e4;
    font-weight: bold;
}