.Card{
    height: 440px;
    width: 300px;
    margin: 30px 15px;
    box-shadow: 5px 5px 10px rgb(189, 189, 189);
    border-radius: 20px;
    overflow: hidden;
}
.Card:hover{
    transform: translateY(-15px);
    cursor: pointer;
}
.imgcontainer{
    background-color: #F8F8F8;
    text-align: center;
    padding: 30px;
    margin-bottom: -5px;
}
.cardinfo{
    background-color: #ececec;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
}
.cardinfo p{
    background-color: rgb(10, 145, 46);
    z-index: 200;
    font-size: 14px;
    /* margin-left: 10px; */
    width: fit-content;
    padding:10px;
    border-radius: 10px;
    float: right;
    /* position: relative; */
    /* top: -28px; */
    /* left: -25px; */
    
}
.cardinfo h3{
    color: rgb(54, 62, 66);
    /* margin-left: 25px; */
    /* margin-top: 13px; */
    /* padding-bottom: 25px; */
    font-weight: bold;
    font-size: 18px;
    
    
}
img{
    max-width: 200px;
    height: 300px;
    /* object-fit: ; */
    object-position: center;
    
}


@media(max-width:1200px){
    .Card{
        width: 250px;
        height: 350px;
    }
    .imgcontainer{
        padding: 25px;
    }
    .cardinfo{
        top: -10px;
        padding-top: 15px;
        padding-bottom: 15px;
        column-gap: 50px;
    }
    img{
        max-width: 200px;
        height: 250px;
        object-position: center;
    }
}
@media(max-width:1000px){
    .Card{
        flex-direction: column;
    }
    
}
@media(max-width:600px){
    .Card{
        width: 200px;
        height: 300px;
    }
    .imgcontainer{
        padding: 25px;
    }
    .cardinfo{
        top: -6px;
        /* padding-top: 10px; */
        padding-bottom: 17px;
        column-gap: 20px;

    }
    .cardinfo h3{
        font-size: 15px;
        /* margin-left: 0px; */
        /* position: relative; */
        /* top: -5px; */
    }
    .cardinfo p{
        padding: 6px;
        /* left: -18px; */
    }
    img{
        max-width: 200px;
        height: 200px;
        object-position: center;
    }
}
@media(max-width:500px){
    
}
@media(max-width:400px){
    
}