.Card{
    width: 300px;
    margin: 30px 15px;
    box-shadow: 5px 5px 10px rgb(189, 189, 189);
    border-radius: 10px;
    overflow: hidden;
    background-color: #ececec;
}
.Card:hover{
    cursor: pointer;
}
.imgcontainer{
    background-color: #FFFFFF;
    text-align: center;
    padding: 30px;
    margin-bottom: -5px;
    height: 200px;
}
.cardinfo{
    position: relative;
    top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}
.cardinfo p{
    margin-right: 10px;
    background-color: rgb(10, 145, 46);
    z-index: 200;
    font-size: 14px;
    width: fit-content;
    padding:10px;
    border-radius: 10px;
    float: right;
}
.cardinfo h3{
    margin-left: 10px;
    color: rgb(54, 62, 66);
    font-weight: bold;
    font-size: inherit;
}
.imgcontainer img{
    max-width: 200px;
    height: 200px;
    object-position: center;

}
.counter{
    padding: 22px 0;
    display: flex;
    margin-left: 30px;
    align-items: center;
}
.uparrow{
    color: green;
    font-size: 25px;
    cursor: pointer;
}
.downarrow{
    color: red;
    font-size: 25px;
    cursor: pointer;
}
.deactive{
    cursor: auto;
    opacity: .2;
    font-size: 25px;
}
.clickcounter{
    padding: 10px;
    background-color: bisque;
    border-radius: 5px;
    margin : 0 10px;
    color: black;
}




@media(max-width:1200px){
    .Card{
        width: 250px;
        height: 350px;
    }
    .imgcontainer{
        padding: 25px;
    }
    .cardinfo{
        top: -10px;
        padding-top: 15px;
        padding-bottom: 15px;
        column-gap: 50px;
    }
    .imgcontainer img{
        max-width: 200px;
        height: 250px;
        object-position: center;
    }
}
@media(max-width:1000px){
    .Card{
        flex-direction: column;
    }
    
}
@media(max-width:600px){
    .Card{
        width: 200px;
        height: 300px;
    }
    .imgcontainer{
        padding: 25px;
    }
    .cardinfo{
        top: -6px;
        padding-bottom: 17px;
        column-gap: 20px;

    }
    .cardinfo h3{
        font-size: 15px;
    }
    .cardinfo p{
        padding: 6px;
    }
    .imgcontainer img{
        max-width: 200px;
        height: 200px;
        object-position: center;
    }
}